html,
body {
  width: 100%;
  height: 100%;
}

#canvas {
  border: 4px solid #c5c5c5;
  margin: 0;
}

#welcome-state {
  display: block;
}


#signup-state {
  display: none !important;
}

#game-state {
  display: none !important;
}